
.form-step2 {
  .row {
    margin-bottom: 10px;
  }

  h4 {
    color: black;
    margin-bottom: 5px;
  }

  h5 {
    padding-left: 10px;
    padding-top: 6px;

    b {
      color: red;
    }
  }

  .valueColumn {
    max-width: 400px;
  }

}