.img__logo_sm {
    color:'red';
    max-width:200px
}
.text-center{
    text-align: center;
}
.w100{width: 100%;}
.form__form-group-row{
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.account__wrapper {
    min-width: 500px;
}
.text-blue, .link, .a{
    color: #70bbfd !important;
    cursor: pointer;
}
.font-22{
    font-size: 22px;
}
.modal-program{max-width: 600px;}
.modal-program.modal-lg{max-width: 1052px;}
@media (min-width: 1300px){
.modal-lg, .modal-xl {
    max-width: 1052px;
}}
.modal-program .modal-content{padding: 20px 40px 40px 15px;text-align:left;}
.arrowIcon{font-size:20px !important; color:gray;}
.program-view .card-body{border-radius: 5px;}
.program-view .card-body .col-right p{color:#999999;}
.program-view .card{height: 120px;}
.program-view .card-body .card-img-top{width: 48px;}
.thick{font-weight: 700;}
.size16{font-size: 16px;}
.w100.modal-header .modal-title{width:100% !important;}
.justify-content-right{justify-content: right !important;}
.theme-light .react-select__control, .theme-dark .react-select__control {min-height:auto;}
.react-select__input-container{margin-top:0px !important;}
.css-6j8wv5-Input{margin-top: 0px !important;padding-top: 0px !important;}
#react-select-3-listbox{top:24px;}
.colorgrey, .text-grey, .text-gray{color: #999999 !important;}
.react-table__column-header.sortable{display: inline-block;margin-left: 2px;}
.merchant_icon{max-height: 40px;width: auto;}
.modal .row{width:100%;}
.max-height-32px{max-height: 32px !important;}
.pointer{cursor:pointer !important}
.container .card-body form{width:100%;}
.container .card-body form .row{width:100%;}
.react-select {height: 32px;}
.infoview > .row{margin-bottom: 15px;}

//add-event
.table .resizable-table th:first-child, .table .resizable-table td:first-child {
    max-width: 150px;
    min-width: 45px !important;
}


.dropzone.dropzone--custom-height {
    min-height: 79px;
    height: auto;
}

.dropzone__input {

    min-height: 60px;

}
.border_hover_div{
    width: 100%;
    min-height: 64px;
    cursor: pointer;
    border: 1px solid #f2f4f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover{
        background-image: linear-gradient(-45deg , #eff1f5 25%, transparent 25%, transparent 50%, #eff1f5 50%, #eff1f5 75%, transparent 75%, transparent);
        background-size: 30px 30px;
        animation: striped 2s linear infinite;
    }
    .text{
        margin: auto;
        color: #4291D8;
    }
    .email_icon{
        height: 75px;
        img{
            height: 100%;
            width: auto;
        }
    }
}
.border_div{
    width: 100%;
    min-height: 64px;
    border: 1px solid #f2f4f7;
    display: flex;

    .text{
        padding: 16px 326px 8px 16px;
    }
    
}

//Program merchant

.toggle-btn-row {
    justify-content: flex-start;
    display: inline-flex;
    padding: 4px 0;
    margin-bottom: 0;
    cursor: pointer;
  
    .toggle-btn__input {
      height: 0;
      width: 0;
      visibility: hidden;
    }
  }
//iamge library

.img_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.img_wrap li{ 
    padding: 8px;
    margin: 0;
    color: #3c434a;
    cursor: pointer;
    list-style: none;
    text-align: center;
    -webkit-user-select: none;
    user-select: none;
    width: 16.6666%;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    margin-bottom: 5px;
    margin-right: 5px;
}

.img_wrap li.active{
    box-shadow:  0 0 0 3px #fff, inset 0 0 0 3px #2271b1
}

.img_wrap li > div.preview{
    display: flex;
    align-items: center;
    position: relative;
    box-shadow: inset 0 2px 15px rgba($color: #000000, $alpha: 0.1);
    background: #f0f0f1;
    cursor: pointer;
    width: 100%;
    height: 120px;
    padding: 2px;
}

.hide-error .form__form-group-error{display:none;}
.label-mb-0 .radio-btn{margin-bottom:0 !important;}
.select-arrow{
    position: absolute;
    right: 12px;
    top: 10px;
}
.row-item-program{border-bottom:1px solid #EAEAEA}
.row-program-list-wrap{
    border:0
}
.program-search_results{
    position: absolute;
    width:100%;
    top:0;
    background-color: #ffffff;
    z-index: 999;
    border: 1px solid #f2f4f7;
}
.input-spinner{
    position: absolute;
    right: 25px;
    top: 8px;
    color: coral;
}
.resizer {
    display: inline-block;
    background: #EAEAEA;
    width: 4px;
    height: 100%;
    position: absolute;
    right: 10px;
    top: 0;
    transform: translateX(50%);
    z-index: 1;
    touch-action:none;
}
.resizer.isResizing {
    background: #CCCCCC;
}
.chevron-expand{
    width: 20px;
    height: 20px;
}
.merchant-index-logo{max-width: 80px;}
.merchant-table .cell-column-0{max-width: 50px !important;}
.merchant-table .cell-column-2, .merchant-table .cell-column-5, .merchant-table .cell-column-6, .merchant-table .cell-column-7{max-width: 80px !important;}

.domains-table .cell-column-0{max-width: 50px !important;}
.domains-table .cell-column-1{max-width: 250px !important;}
.domains-table .cell-column-3{max-width: 200px !important;}
// .domains-table .cell-column-2, .merchant-table .cell-column-5, .domains-table .cell-column-6, .domains-table .cell-column-7{max-width: 80px !important;}
.mw-120{max-width: 120px;}
// .dropzone-img {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%,-50%);
// }
.dropzone-img {
    width: 100%
}
.dropzone-img img{width:auto}
.color-white{color: #ffffff !important;}
.ltr-support .btn-toolbar > a {
    margin-right: 35px;
}
.ltr-support .btn-toolbar > a:last-child {
    margin-right: 0px;
}
.view-tabbed-menu{    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-right: -55px;}
.view-tabbed-menu.card-body{padding: .5rem 1rem;}
.view-tabbed-menu .list-group-horizontal > .list-group-item{border: 0;color:#444444;padding:0.30rem .75rem}
.view-tabbed-menu .list-group-horizontal > .list-group-item.selected{background-color: #f2f4f7;}
.delete-icon-icon{position: absolute;bottom:0;right: 0;}
.modal-program-events-icons .tabs{overflow: visible;}
.modal-merchant-upload-giftcodes .modal-content{padding:50px 10px 60px 10px}
.h-ji87uhh{height:41px;}
.table-domain-programs .cell-column-0{max-width: 150px !important;}
.table-domain-programs .cell-column-1{max-width: 100px !important;}
.table-submerchants .cell-column-0{max-width: 200px !important;}
.action-panel{padding: 0.5rem;background: #fff;margin-bottom: 2.5rem;border: 2px solid #b1c3c8;}
.merchant-treeview{
    position: absolute;
    width:auto;
    top:23px;
    background-color: #ffffff;
    z-index: 999;
    border: 1px solid #f1f1f1;
}
.merchant-treeview .MuiTreeItem-label{white-space: nowrap;}
.merchant-treeview label{
    margin-bottom: 0 !important;
}
.merchant-treeview .MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label{    background-color: transparent;}
.merchant-treeview .MuiTreeItem-root.Mui-selected > .MuiTreeItem-content .MuiTreeItem-label:hover, .merchant-treeview .MuiTreeItem-root.Mui-selected:focus > .MuiTreeItem-content .MuiTreeItem-label {
    background-color: transparent;
}
.merchant-treeview .PrivateSwitchBase-root-1 {
    padding: 5px;
}
.merchant-treeview .MuiTypography-body1 {
    font-size: 0.85rem;
}
.react-datepicker-popper{top:32px !important;}
.roleview .badge, .permission-view .badge{font-size: 14px;text-decoration:underline;}
.user-program-card .is-sub{padding-left:15px;}
.user-program-card .row-item-program.is-sub{border-bottom:0;}
.program-search_results > .row-item-program:last-child{margin-bottom:20px;}
.program-search_results > .row-item-program{padding-bottom:8px !important}
.ucfirst:first-letter {
    text-transform:capitalize;
    display:inline-block;
}
.model-content-center .modal-content{text-align: center !important;}
.view-tabbed-menu .list-group-item{cursor: pointer;}
.csv-row-error {
    display: block;
    font-size: 11px;
    color: red;
}
.table-filter-form.form .form__form-group-label {
    width: auto !important;
    padding-right:10px;
}
.table-filter-form.form .form__form-group{display:flex;align-items: center;}
.table-filter-form-fields .form__form-group-field{margin-left:0 !important;padding-left: 0px !important;}

.outline{
    display: inline-block;
    border: 1px solid #000;
    padding: 1px 2px;
}

.modal-content button.close{
    position: absolute;
    right: 10px;
    top: 10px;
}