.img__logo_sm {
    color:'red';
    max-width:200px
}
.text-center{
    text-align: center;
}
.w100{width: 100%;}
.form__form-group-row{
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.account__wrapper {
    min-width: 500px;
}
.text-blue, .link, .a{
    color: #70bbfd !important;
    cursor: pointer;
}
.font-22{
    font-size: 22px;
}
.modal-program{max-width: 600px;}
.modal-program.modal-lg{max-width: 1052px;}
@media (min-width: 1300px){
.modal-lg, .modal-xl {
    max-width: 1052px;
}}
.modal-program .modal-content{padding: 20px 40px 40px 15px;text-align:left;}
.arrowIcon{font-size:20px !important; color:gray;}
.program-view .card-body{border-radius: 5px;}
.program-view .card-body .col-right p{color:#999999;}
.program-view .card{height: 120px;}
.program-view .card-body .card-img-top{width: 48px;}
.thick{font-weight: 700;}
.size16{font-size: 16px;}
.w100.modal-header .modal-title{width:100% !important;}
.justify-content-right{justify-content: right !important;}
.theme-light .react-select__control, .theme-dark .react-select__control {min-height:auto;}
.react-select__input-container{margin-top:0px !important;}
.css-6j8wv5-Input{margin-top: 0px !important;padding-top: 0px !important;}
#react-select-3-listbox{top:24px;}
.colorgrey{color: #999999 !important;}
.react-table__column-header.sortable{display: inline-block;margin-left: 2px;}
.merchant_icon{max-height: 40px;width: auto;}
.modal .row{width:100%;}
.max-height-32px{max-height: 32px !important;}
.pointer{cursor:pointer !important}
.container .card-body form{width:100%;}
.container .card-body form .row{width:100%;}
.react-select {height: 32px;}
.infoview > .row{margin-bottom: 15px;}

//add-event
.table .resizable-table th:first-child, .table .resizable-table td:first-child {
    max-width: 150px;
    min-width: 45px !important;
}


.dropzone.dropzone--custom-height {
    min-height: 79px;
    height: auto;
}

.dropzone__input {

    min-height: 60px;

}

.hide-error .form__form-group-error{display:none;}
.label-mb-0 .radio-btn{margin-bottom:0 !important;}
.select-arrow{
    position: absolute;
    right: 12px;
    top: 10px;
}
.row-item-program{border-bottom:1px solid #EAEAEA}
.row-program-list-wrap{
    border:0
}
.program-search_results{
    position: absolute;
    width:100%;
    top:0;
    background-color: #ffffff;
    z-index: 999;
}
.input-spinner{
    position: absolute;
    right: 40px;
    top: 8px;
    color: coral;
}