.img__logo_sm {
    color:'red';
    max-width:200px
}
.text-center{
    text-align: center;
}
.w100{width: 100%;}
.form__form-group-row{
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
}
.account__wrapper {
    min-width: 500px;
}
.text-blue{
    color: #70bbfd !important;
}
.font-22{
    font-size: 22px;
}
.modal-program{max-width: 600px;}
.modal-program .modal-content{padding: 20px 40px 40px 15px;text-align:left;}
.arrowIcon{font-size:20px !important; color:gray;}